/* General styles */

body {
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    color: #5e5e5e;
}

.inner-border {
    background-color: #fff;
    padding: 30px;
}

b {
    font-weight: bold;
    color: #727171;
}

h4 {
    text-align: center;
    font-size: 24px;
    color: #1b1728;
}

hr {
    border: 1px solid #ebebeb;
}

p {
    line-height: 1.3;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 55px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f3f3f3;
    color: #b5b4b4;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ededed;
    outline: none;
}

input {
    background-color: #f3f3f3;
    color: #b5b4b4;
    font-size: 14px;
    border-radius: 30px;
    height: 55px;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ededed;
    outline: none;
}

input:focus {
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

button {
    outline: none;
}

button:hover {
    transition: all 0.5s;
}

.hidden {
    display: none;
}


/* ------------------------------------------------------------------------------- */


/* Helpers */

.gray-bg {
    background-color: #f3f3f3;
}

.ligth-blue-bg {
    background-color: #f5fafe;
}

.select-wrapper {
    position: relative;
}

.input-wrapper {
    position: relative;
}

.input-wrapper:after {
    content: '%';
    font-size: 14px;
    position: absolute;
    top: 29px;
    right: 38px;
    padding-left: 20px;
    color: #9a9999;
    line-height: 53px;
    border-left: 1px solid #ededed;
    pointer-events: none;
}

.input-wrapper-days:after {
    content: 'Days';
    padding-left: 20px;
    right: 46px;
    width: 37px;
    line-height: 50px;
    border-left: 1px solid #ededed;
    top: 30px;
}

.btn-success {
    height: 55px;
    background-color: #2196f3;
    border-radius: 30px;
    border: none;
    width: 25%;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #145b93;
}


/* ------------------------------------------------------------------------------- */


/* Step-1 */


/* Breadcrumbs */

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    color: #727171;
}

.breadcrumb a {
    margin-left: 30px;
    text-decoration: none;
    outline: none;
    display: block;
    line-height: 50px;
    color: white;
    padding: 0 10px 0 60px;
    background: #666;
    position: relative;
    border-radius: 0px 4px 4px 0px;
    padding-right: 5%;
}

.breadcrumb a:first-child {
    padding-left: 58px;
    border-radius: 5px 4px 4px 5px;
    margin-left: 0;
    border-left: 1px solid#d5d5d5;
}

.breadcrumb a:first-child:before {
    left: 14px;
}

.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
}


/*hover/active styles*/

.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0;
    right: -25px;
    width: 50px;
    height: 50px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    background: #f3f3f3;
    background: linear-gradient(135deg, #666, #333);
    border-radius: 0 5px 0 50px;
}

.flat a {
    border-bottom: 1px solid#d5d5d5;
    border-top: 1px solid#d5d5d5;
}

.flat a,
.flat a:after {
    background: #f3f3f3;
    color: black;
    transition: all 0.5s;
    border-top: 1px solid#d5d5d5;
    border-right: 1px solid #d5d5d5
}

.arrow-before-bottom {
    content: '';
    position: absolute;
    top: 20px;
    left: -7px;
    width: 35px;
    height: 35px;
    transform: rotate(132deg) skewX(43deg);
    background-color: inherit;
    border-radius: 0px 0px 5px 0px;
    z-index: -1;
    border: 1px solid#d5d5d5;
}

.arrow-before-top {
    position: absolute;
    background-color: inherit;
    left: -7px;
    top: -5px;
    width: 35px;
    height: 35px;
    transform: rotate(48deg) skewX(-43deg);
    border-radius: 0px 0px 0px 5px;
    z-index: -1;
    border: 1px solid#d5d5d5;
}

.flat a:hover,
.flat a:hover:after {
    background: #fff;
}

.flat a.current-step,
.flat a.current-step:after,
.current-step.arrow-before-top,
.current-step.arrow-before-bottom {
    background: #fff;
}

.breadcrumb a b {
    font-weight: bold;
    color: #727171;
}


/* Breadcrumbs svg */

.breadcrumb a svg {
    position: absolute;
    left: 12px;
    top: 6px;
}


/* Svg default colors*/

#David-Ho---Step-2 {
    fill: #ddd4d4;
}

#Icon {
    stroke: #c1b6b6;
}


/* Svg passed colors */

.passed #David-Ho---Step-2 {
    fill: #727171;
}

.passed #Icon {
    stroke: #fff;
    fill: #fff;
}


/* Svg active colors */

.active #David-Ho---Step-2 {
    fill: #2196F3;
}

.active #Icon {
    stroke: #2196F3;
}


/* Read More/Less  */

#text {
    display: none;
}

#toggle {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #2196f3;
    cursor: pointer;
    margin-top: 15px;
    padding: 0;
    outline: none;
}

.calculation-description {
    background-color: #fdfdfd;
    border: 1px solid #d5d5d5;
    padding: 20px 30px;
    font-size: 14px;
    margin-bottom: 54px;
}

.calculation-description h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
    color: #1b1728;
}


/* Step-1 Selects */

.step-1-selects {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 40px;
    font-size: 14px;
}

.step-1-selects .selects-year {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
}

.step-1-selects .selects-year .select-wrapper {
    padding-right: 0;
}

.step-1-selects p {
    line-height: 1;
}

.step-1-selects .selects-year .select-wrapper:after {
    top: 33px;
    right: 30px;
    top: 29px;
    right: 33px;
    padding-left: 20px;
    color: #9a9999;
    line-height: 55px;
    border-left: 1px solid #ededed;
}

.step-1-selects select {
    width: 100%;
    outline: none;
    position: relative;
    margin-top: 15px;
    margin-bottom: 35px;
}

.step-1-selects .select_mate {
    background-color: #f3f3f3;
    color: #b5b4b4;
    margin-top: 15px;
}

.step-1-selects .select_mate ul {
    background-color: #f3f3f3;
    color: #b5b4b4;
}

.selects-year-inner {
    margin-right: -15px;
}

.step-1-selects .icon_select_mate {
    right: 20px;
}

.step-1-selects .select-industry .horizontal-line {
    left: 88%;
}


/* Step-1 Inputs */

.start-benchmarking-inputs {
    margin-bottom: 40px;
    font-size: 13px;
}

.start-benchmarking-inputs .row {
    margin-top: 40px;
}

.start-benchmarking-inputs input {
    width: 100%;
    margin-top: 15px;
}


/* ------------------------------------------------------------------------------- */


/* Step-2 */

.current-benchmark-rating {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.current-benchmark-rating svg {
    width: 75px;
    height: 75px;
}

.current-benchmark-rating svg #arrow-back {
    fill: #000;
}

.current-benchmark-rating-value {
    color: #f5a623;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.current-benchmark-rating-description {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
    font-size: 14px;
}

.step-2 h5 {
    text-align: center;
    font-size: 36px;
    color: #2196f3;
    font-weight: 600;
}

.step-2 h5:before {
    content: "!";
    margin-right: 10px;
    background-color: black;
    color: #fff;
    padding: 0px 18px;
    border-radius: 50%;
    font-size: 33px;
}

.step-2-data {
    padding-top: 50px;
}

.rating-year-row {
    text-align: center;
}

.rating-year-row p {
    font-weight: 600;
}

.rating-year-row div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rating-year {
    font-size: 20px;
    font-weight: bold;
    color: #1b1728;
}

.rating-year-blue {
    color: #2196f3;
}


/* Step-2 Checkmark */

.step-2 .checkbox-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.step-2 .checkmark {
    position: absolute;
    top: -5px;
    left: -1px;
    height: 30px;
    width: 30px;
    background-color: #eee;
    border-radius: 40%;
}

.step-2 .checkbox-container {
    font-size: 14px;
    color: #5e5e5e;
    font-weight: bold;
}

.step-2 .checkbox-container .checkmark:after {
    left: 12px;
    top: 6px;
    width: 8px;
    height: 15px;
}

.step-2 .checkbox-container input:checked~.checkmark {
    background-color: #7ed321;
}


/* Step-2 benchmark inputs */

.benchmark-rating-inputs {
    padding-top: 40px;
    padding-bottom: 30px;
    color: #7e7e7e;
}

.row-with-header {
    margin-top: 20px;
}

.row-header {
    position: relative;
    font-weight: bold;
}

.row-header-caption {
    position: absolute;
    top: -9px;
    left: 49%;
    transform: translate(-50%, 0);
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.row-header-caption-chacked:before {
    content: url(/images/Checked.png);
    position: absolute;
    left: -31px;
    top: -6px;
    background-color: #fff;
    padding-left: 6px;
}

.step-2-input-row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.step-2-input-row div+div {
    margin-left: -15px;
    padding-left: 0;
}

.step-2-input-row input {
    width: 100%;
    color: #434343;
}

.step-2-input-row select {
    width: 100%;
    color: #434343;
}

.step-2-input-row .select-wrapper:after {
    top: 0px;
    right: 35px;
    padding-left: 20px;
    color: #9a9999;
    line-height: 55px;
    border-left: 1px solid #ededed;
}

#text_6 {
    background-color: #fff;
    border: 1px solid #ededed;
}

.benchmark-rating-inputs p {
    line-height: 1;
}

.benchmark-rating-inputs input::-webkit-input-placeholder {
    font-size: 14px;
    color: #7e7e7e;
}

.benchmark-rating-inputs input::-moz-placeholder {
    color: #7e7e7e;
    font-size: 14px;
}

.benchmark-rating-inputs input:-ms-input-placeholder {
    color: #7e7e7e;
    font-size: 14px;
}

.benchmark-rating-inputs input:-moz-placeholder {
    color: #7e7e7e;
    font-size: 14px;
}


/* Custom Select */

.cont_select_center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -150px;
}

.cont_heg_50 {
    position: absolute;
    height: 50%;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fd7b52;
}

.icon_select_mate {
    position: absolute;
    top: 20px;
    right: 12%;
    font-size: 16px;
    height: 22px;
    transition: all 275ms;
    cursor: pointer;
    z-index: 1000;
}

.select_mate {
    border-radius: 30px;
    transition: all 375ms ease-in-out;
    border: 1px solid #ededed;
    font-size: 14px;
    color: #434343;
}

.select_mate select {
    position: absolute;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    z-index: -1;
}

.cont_list_select_mate {
    position: relative;
    float: left;
    width: 100%;
}

.cont_list_select_mate:after {
    position: absolute;
    top: -10px;
    right: 35px;
    padding-left: 20px;
    line-height: 55px;
    border-left: 1px solid #ededed;
}

.cont_select_int {
    position: absolute;
    left: 0px;
    top: -54px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #f5fafe;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
    transition: all 375ms ease-in-out;
}

.gray-bg .cont_select_int {
    background-color: #f3f3f3;
}

.cont_select_int li {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 20px 30px;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
    height: 55px;
}

.cont_select_int li:first-child {
    border-bottom: 1px solid #E0E0E0;
}

.cont_select_int li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}

.cont_select_int li:hover {
    background-color: #fff;
}

.cont_select_int .active {
    background-color: #fff;
}

.selecionado_opcion {
    padding: 20px 30px;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}

.horizontal-line {
    position: absolute;
    height: 55px;
    border-left: 1px solid #ededed;
    top: 0px;
    left: 73%;
    z-index: 1000;
}


/* /Custom Select */


/* Buttons */

.step-2-buttons {
    justify-content: center;
}

.step-2-buttons div {
    padding-left: 0;
}

.step-2-buttons button {
    width: 100%;
    border: none;
    height: 55px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.skip-btn {
    background-color: #e2e2e2;
    color: #5e5e5e;
}

.skip-btn:hover {
    background-color: #bebebe;
}


/* ------------------------------------------------------------------------------- */


/* Step-3 */

.step-3 h5 {
    text-align: center;
    font-size: 36px;
    color: #2196f3;
    font-weight: 600;
    margin-bottom: 40px;
}

.step-3 p {
    font-size: 14px;
    text-align: center;
}

.step-3 .skip-btn-wrapper,
.compute-btn {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.step-3 .skip-btn-wrapper button {
    width: 100%;
    border: none;
    height: 55px;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}


/* Inputs */

.annual-other .row-header-caption {
    padding-left: 4px;
    padding-right: 4px;
}

.current-cost .row-header-caption {
    transform: translate(0%, 0);
    margin-left: -27%;
}

.estimated-productivity .row-header-caption {
    transform: translate(0%, 0);
    margin-left: -35%;
}

.estimated-productivity p {
    font-weight: 100;
    color: #7e7e7e;
    padding-top: 25px;
}


/* Compute Button */

.step-3 .btn-success {
    width: 100%;
}


/* ------------------------------------------------------------------------------- */


/* Step-4 Results */

.result-data {
    text-align: center;
}

.result-data h3 {
    font-size: 36px;
    color: #1b1728;
    padding-bottom: 20px;
}

.result-data .result-data-value {
    font-size: 48px;
    font-weight: bold;
    color: #5f6061;
}


/* Table block */

.result-table-block table {
    width: 100%;
    font-size: 18px;
}

.result-table-block caption {
    font-size: 36px;
    color: #1b1728;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 80px;
}

.result-table-block table input {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    border: none;
}

.result-table-block table th {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
}

.result-table-block table th:nth-child(even) {
    color: #2196f3;
}

.result-table-block table th:nth-child(odd) {
    color: #1b1728;
}

.result-table-block table tbody td {
    border: 1px solid #ededed;
}

.result-table-block table tfoot {
    border-top: 3px solid #ededed;
}

.result-table-block table tfoot td {
    border: 1px solid #ededed;
}

.result-table-block table tfoot .blue-text {
    color: #2196f3;
    font-weight: bold;
}

.result-table-block table tfoot .yellow-text {
    color: #f5a623;
    font-weight: bold;
}

td:first-child {
    width: 35%;
    vertical-align: middle;
    padding: 20px 15px;
}

.result-table-block table tfoot td:nth-child(even),
.result-table-block table tbody td:nth-child(even) {
    background: #f4faff;
}


/* Email result Form */

.email-result {
    width: 100%;
    background-color: #fbfbfb;
    margin-top: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
}

.email-result p {
    text-align: center;
    color: #1b1728;
    font-size: 24px;
    margin-bottom: 35px;
}

.email-result-inputs {
    display: flex;
    justify-content: space-evenly;
}

.email-result-inputs input {
    width: 100%;
    margin-top: 20px;
}

.add-contact-btn {
    display: flex;
    justify-content: center;
}

#add_contact_btn {
    font-size: 12px;
    font-weight: bold;
    color: #2196f3;
    background-color: transparent;
    border: none;
    margin-top: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.mail-btn {
    display: flex;
    justify-content: center;
}

.mail-btn .btn-success {
    font-size: 12px;
    font-weight: bold;
    width: 31%;
}


/* checkbox */

.checkbox-wrapper {
    display: flex;
    justify-content: center;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    color: #5e5e5e;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 1px;
    left: 7px;
    height: 17px;
    width: 17px;
    background-color: #eee;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/********************* Validation styles *********************/
.valid-error {
    color: #f73737;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 25px;
    transition: all 0.5s;
}

.step-2 .step-2-input-row .valid-error {
    color: #f73737;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 25px;
    transition: all 0.5s;
}

/********************* Email validation *********************/
.is-required {
    
}
.chart-title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 35px;
    background-color: #fff;
}